<!DOCTYPE html>
<html lang="en" class="b-reith-sans-font">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href='https://api.mapbox.com/mapbox-gl-js/v2.1.1/mapbox-gl.css' rel='stylesheet'/>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="/css/materialize.min.css"/>
    <link rel="stylesheet" href="/css/custom.css"/>
    <link rel="stylesheet" href="/css/animate.css"/>
    <title>Weather App</title>
    <link rel="icon" href="/assets/web-icon.png" type="image/png" sizes="24x24">
</head>
<body>
    {{>header}}
    <div class="container web-body">
        <div class="row search-bar">
            <form id="weather-form">
                <div class="input-location input-field">
                    <i class="material-icons prefix">place</i>
                    <input id="location" type="text" class="validate">
                    <label for="location">Location</label>
                </div>
                <div id="container" class="search py-4">
                    <button class="learn-more" id="submit" style="width: 10rem;">
                        <span class="circle" aria-hidden="true">
                            <span class="icon arrow"></span>
                            <span class="test"style="right: 38px;">Search</span>
                        </span>
                    </button>
                </div>
            </form>
        </div>

        <div id="container" class="back-btn py-4">
            <button class="learn-more" style="width: 200px">
                <span class="circle" aria-hidden="true">
                    <span class="icon arrow"></span>
                    <span class="test" style="right: 40px;">Back to Search</span>
                </span>
            </button>
        </div>

        <div class="row location-card">
            <div class="card col mx-auto location-card-content">
                <div id="map" style="height: 310px;"></div>
                <div class="card-content">
                    <div class="card-header">
                        <div class="card-header-img">
                            <img src="" id="forecast-img" alt="forecast.img">
                        </div>
                        <div class="card-header-title">
                            <span class="activator" id="title">Card Title</span>
                            <p id="forecast"></p>
                        </div>
                        <div class="card-header-up-btn">
                            <span class="waves-effect waves-circle waves-light btn up-arrow activator">
                                <i class="material-icons up-icon">arrow_upward</i>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="card-reveal">
                    <div class="card-reveal-head">
                        <div class="weather-title">
                            <span class="pl-4"><span id="title-card-weather">Weather in </span><span id="title-card"></span></span>
                            <span class="weather-title-otherInfo">
                                <span class="weather-title-temperature">
                                    <span id="temperature"></span><span class="celcius">°c</span>
                                </span>
                                <span class="weather-title-info">
                                    <p class="m-0"><span id="day"></span> | <span id="time"></span></p>
                                    <p class="m-0 desc"></p>
                                    <p class="m-0">RealFeel ® <span id="realfeel"></span>°</p>
                                </span>
                            </span>
                        </div>
                        <span class="card-title waves-effect waves-circle waves-light btn down-arrow">
                                <i class="material-icons">close</i>
                        </span>
                    </div>

                    <div class="row m-0 py-1">
                        <div class="col s6 p-2 weather-item">
                            <div class="">
                                <img src="/assets/humidity.svg" alt="Humidity" width="70px" height="50px">
                            </div>
                            <div class="weather-item-moon">
                                <p class="m-0 humidity-title">Humidity</p>
                                <p class="m-0 value humidity"></p>
                            </div>
                        </div>
                        <div class="col s6 p-2 weather-item weather-item-precipitation">
                            <div style="display: grid;">
                                <svg class="svg_precipitation" enable-background="new 0 0 512 512" height="512" viewBox="0 0 512 512" width="512" xmlns="http://www.w3.org/2000/svg">
                                    <g>
                                        <g>
                                            <g>
                                                <path class="cloud-fill" d="m474.874 76.157h-8.276c-6.439-31.642-34.424-55.453-67.965-55.453s-61.526 23.811-67.965 55.453c-.91 4.495-1.391 9.141-1.391 13.903 0 17.337 6.359 33.184 16.873 45.34h128.725c8.178 0 15.589-3.318 20.949-8.677 5.36-5.36 8.677-12.762 8.677-20.949-.001-16.356-13.271-29.617-29.627-29.617z" fill="#ddebfd"/>
                                                <path d="m454.82 236.182c-6.836-6.836-16.29-11.066-26.715-11.066h-53.622c6.378-15.544 9.961-32.537 10.121-50.341.669-74.813-60.029-136.568-134.844-137.129-73.704-.553-133.951 57.557-136.831 130.419-.1 2.52-2.171 4.509-4.693 4.509-10.755.002-36.689.004-36.689.004-35.372 0-64.047 28.675-64.047 64.047s28.675 64.046 64.047 64.046h355.946c20.547 0 37.807-16.16 38.378-36.698.302-10.851-3.981-20.721-11.051-27.791z" fill="#ddebfd"/>
                                                <g fill="#bed9fd">
                                                    <path d="m454.82 236.182c-6.836-6.836-16.29-11.066-26.715-11.066h-34.115c10.425 0 19.879 4.23 26.715 11.066 7.07 7.07 11.353 16.94 11.051 27.79-.571 20.539-17.831 36.698-38.378 36.698h34.115c20.547 0 37.807-16.16 38.378-36.698.302-10.85-3.981-20.72-11.051-27.79z"/>
                                                    <path d="m350.488 174.775c-.145 16.171-3.114 31.673-8.437 46.029-.776 2.092.766 4.312 2.997 4.312h29.434c6.378-15.544 9.961-32.537 10.121-50.341.669-74.813-60.029-136.568-134.844-137.129-6.152-.046-12.207.325-18.146 1.071 67.291 8.488 119.496 66.648 118.875 136.058z"/>
                                                </g>
                                            </g>
                                            <path d="m346.599 400.697c.001 50.037-40.563 90.599-90.599 90.599s-90.599-40.563-90.599-90.599c0-63.301 75.11-147.866 90.599-147.866 12.433 0 90.598 84.565 90.599 147.866z" fill="#6cbff8"/>
                                            <path d="m256 252.831c-1.245 0-2.879.553-4.825 1.591 27.241 26.826 71.037 86.12 71.037 133.504.001 50.037-40.563 90.599-90.599 90.599-10.252 0-20.105-1.705-29.295-4.844 15.025 11.07 33.587 17.615 53.681 17.615 50.037 0 90.6-40.563 90.599-90.599.001-63.301-78.165-147.866-90.598-147.866z" fill="#5fa7ee"/>
                                            <g class="raindrop-fill" fill="#6cbff8">
                                                <path d="m466.369 416.049c0 20.022-16.231 36.254-36.254 36.254s-36.254-16.231-36.254-36.254c0-25.33 30.056-59.17 36.254-59.17 4.975 0 36.254 33.84 36.254 59.17z"/>
                                                <path d="m118.139 416.049c0 20.022-16.231 36.254-36.254 36.254s-36.254-16.231-36.254-36.254c0-25.33 30.056-59.17 36.254-59.17 4.975 0 36.253 33.84 36.254 59.17z"/>
                                            </g>
                                        </g>
                                        <g>
                                            <path d="m474.87 68.662h-2.398c-9.405-32.479-39.526-55.46-73.842-55.46-29.246 0-55.711 16.641-68.63 42.274-59.363-40.998-138.946-30.924-186.714 20.861-2.809 3.044-2.617 7.79.428 10.598 3.044 2.809 7.789 2.618 10.598-.428 49.105-53.233 133.552-56.023 185.806-2.905 21.291 21.644 34.057 49.383 36.54 79.213 2.411 29.016-4.912 58.083-21.584 82.67-2.324 3.429-1.43 8.092 1.999 10.417 1.29.875 2.754 1.293 4.202 1.293 2.403 0 4.765-1.153 6.215-3.292 4.568-6.738 8.556-13.881 11.91-21.285h48.705c16.933 0 30.749 13.92 30.27 31.147-.451 16.215-14.304 29.407-30.881 29.407h-46.752c-4.143 0-7.5 3.358-7.5 7.5s3.357 7.5 7.5 7.5h46.752c24.621 0 45.2-19.734 45.875-43.99.35-12.583-4.354-24.41-13.245-33.301-8.553-8.553-19.924-13.263-32.019-13.263h-42.895c7.498-23.248 9.151-49.298 3.601-74.716h86.059c9.915 0 19.239-3.863 26.254-10.877 7.014-7.015 10.876-16.338 10.876-26.253 0-20.462-16.656-37.11-37.13-37.11zm15.648 52.756c-4.182 4.181-9.738 6.483-15.647 6.483h-90.208c-7.945-23.598-22.328-45.675-42.518-63.054 9.866-22.111 31.964-36.645 56.486-36.645 29.294 0 54.788 20.799 60.62 49.456.711 3.494 3.784 6.004 7.35 6.004h8.271c12.202 0 22.13 9.918 22.13 22.11-.002 5.909-2.305 11.466-6.484 15.646z"/>
                                            <path d="m345.74 308.172c4.143 0 7.5-3.358 7.5-7.5s-3.357-7.5-7.5-7.5h-37.754c-8.892-11.739-18.448-22.761-27.329-31.487-16.645-16.353-22.26-16.353-24.657-16.353-13.772 0-38.834 28.734-53.183 47.839h-131.267c-31.182 0-56.55-25.368-56.55-56.55 0-31.176 25.368-56.54 56.55-56.54 0 0 25.936 0 36.69-.01 6.572 0 11.924-5.145 12.184-11.713.769-19.409 5.751-37.896 14.81-54.948 1.943-3.658.554-8.199-3.104-10.142-3.657-1.944-8.197-.552-10.142 3.105-9.705 18.269-15.224 38.002-16.421 58.7-11.843.008-34.017.008-34.017.008-39.453 0-71.55 32.093-71.55 71.54 0 39.453 32.097 71.55 71.55 71.55h120.728c-15.081 22.895-34.377 58.784-34.377 92.527 0 54.092 44.007 98.099 98.1 98.099s98.1-44.007 98.1-98.099c-.001-33.353-19.877-69.436-35.398-92.527h27.037zm-89.74 175.626c-45.821 0-83.1-37.278-83.1-83.099 0-14.561 4.77-45.791 36.715-91.36 20.369-29.057 40.157-46.619 46.137-48.845 5.932 2.807 26.063 21.465 46.063 49.617 13.924 19.601 37.283 57.433 37.284 90.587.001 45.822-37.278 83.1-83.099 83.1z"/>
                                            <path class="raindrop-border" d="m430.115 349.381c-11.622 0-43.754 38.411-43.754 66.67 0 24.126 19.628 43.754 43.754 43.754s43.754-19.628 43.754-43.754c0-27.752-32.932-66.67-43.754-66.67zm0 95.424c-15.854 0-28.754-12.899-28.754-28.754 0-18.695 20.608-44.419 28.552-50.717 8.202 6.745 28.956 32.627 28.956 50.717 0 15.855-12.899 28.754-28.754 28.754z"/>
                                            <path class="raindrop-border" d="m94.904 357.214c-6.617-6.501-9.99-7.833-13.02-7.833-9.274 0-22.673 17.782-26.559 23.232-6.422 9.008-17.195 26.629-17.195 43.438 0 24.126 19.628 43.754 43.754 43.754s43.754-19.628 43.754-43.754c0-16.639-11.085-34.39-17.692-43.491-4.137-5.699-8.769-11.149-13.042-15.346zm-13.019 87.591c-15.854 0-28.754-12.899-28.754-28.754 0-18.695 20.607-44.419 28.552-50.717 8.202 6.745 28.956 32.628 28.956 50.717 0 15.855-12.9 28.754-28.754 28.754z"/>
                                            <path class="percent_circle" d="m283.907 408.834c-11.905 0-21.592 9.686-21.592 21.591s9.687 21.591 21.592 21.591 21.591-9.686 21.591-21.591-9.685-21.591-21.591-21.591zm0 28.182c-3.635 0-6.592-2.957-6.592-6.591s2.957-6.591 6.592-6.591c3.634 0 6.591 2.957 6.591 6.591s-2.957 6.591-6.591 6.591z"/>
                                            <path class="percent_circle" d="m249.685 370.972c0-11.905-9.687-21.591-21.592-21.591s-21.591 9.686-21.591 21.591 9.686 21.591 21.591 21.591 21.592-9.686 21.592-21.591zm-28.183 0c0-3.634 2.957-6.591 6.591-6.591 3.635 0 6.592 2.957 6.592 6.591s-2.957 6.591-6.592 6.591c-3.634 0-6.591-2.957-6.591-6.591z"/>
                                            <path class="percent_line" d="m294.19 362.509c-2.93-2.929-7.678-2.929-10.607 0l-65.773 65.773c-2.929 2.929-2.929 7.678 0 10.606 2.93 2.929 7.678 2.929 10.607 0l65.773-65.773c2.929-2.928 2.929-7.677 0-10.606z"/>
                                        </g>
                                    </g>
                                </svg>
                            </div>
                            <div class="weather-item-moon">
                                <p class="m-0 humidity-title">Precipitation</p>
                                <p class="m-0 value precipitation"></p>
                            </div>
                        </div>
                    </div>

                    <div class="row m-0 py-1">
                        <div class="col s6 p-2 weather-item">
                            <div class="">
                                <img src="/assets/wind.svg" alt="wind" width="70px" height="50px">
                            </div>
                            <div class="weather-item-moon">
                                <p class="m-0 humidity-title">Wind</p>
                                <p class="m-0 value wind"></p>
                            </div>
                        </div>
                        <div class="col s6 p-2 weather-item">
                            <div class="">
                                <img src="/assets/uv-index.svg" alt="uv-index" width="70px" height="50px">
                            </div>
                            <div class="weather-item-moon">
                                <p class="m-0 humidity-title">UV Index</p>
                                <p class="m-0 value uvIndex"></p>
                            </div>
                        </div>
                    </div>

                    <div class="row m-0 py-1">
                        <div class="col s6 p-2 weather-item weather-item-sunrise">
                            <div style="display: grid">
                                <svg class="svg_sunrise" enable-background="new 0 0 512 337" width="512" viewBox="0 0 512 337" height="337" xmlns="http://www.w3.org/2000/svg">
                                    <g>
                                        <title>Layer 1</title>
                                        <circle class="sunrise_sunbg" id="svg_1" fill="#FFFFFF" r="112.23" cy="208.08" cx="257"/>
                                        <path class="sunrise_sun" id="svg_2" fill="#FFC850" d="m281.048,232.129c-56.186,0 -102.592,-41.334 -110.803,-95.226c-15.911,19.37 -25.471,44.154 -25.471,71.177c0,61.981 50.245,112.226 112.226,112.226s112.226,-50.245 112.226,-112.226c0,-5.795 -0.576,-11.442 -1.423,-17c-20.582,25.058 -51.797,41.049 -86.755,41.049z"/>
                                        <g id="svg_3">
                                            <path id="svg_4" fill="#ABFFDB" d="m339.757,248.161c-41.407,0 -41.407,16.032 -82.814,16.032c-41.42,0 -41.42,-16.032 -82.841,-16.032c-41.406,0 -41.406,16.032 -82.812,16.032c-41.395,0 -41.395,-16.032 -82.791,-16.032l12.998,14.855c27.399,31.313 66.981,49.274 108.59,49.274l253.825,0c41.608,0 81.191,-17.961 108.59,-49.274l12.998,-14.855c-41.435,0 -41.435,16.032 -82.871,16.032c-41.436,0.001 -41.436,-16.032 -82.872,-16.032z"/>
                                            <path class="sunrise_water1" id="svg_5" fill="#ABFFDB" d="m422.629,264.194c-41.435,0 -41.435,-16.032 -82.871,-16.032c-41.407,0 -41.407,16.032 -82.814,16.032c-41.42,0 -41.42,-16.032 -82.841,-16.032c-41.406,0 -41.406,16.032 -82.812,16.032c-41.395,0 -41.395,-16.032 -82.791,-16.032l41.38,40.075c10.354,4.01 20.703,8.022 41.411,8.022c41.406,0 41.406,-16.032 82.812,-16.032c41.42,0 41.42,16.032 82.841,16.032c41.408,0 41.408,-16.032 82.814,-16.032c41.436,0 41.436,16.032 82.871,16.032c20.716,0 31.074,-4.007 41.432,-8.015l41.439,-40.082c-41.435,-0.001 -41.435,16.032 -82.871,16.032z"/>
                                        </g>
                                        <g id="svg_6">
                                            <path class="sunrise_cloud1" id="svg_7" fill="#FFFFFF" d="m117.863,55.774c-11.272,0 -21.446,4.436 -29.107,11.54c-4.239,-1.871 -8.904,-2.951 -13.836,-2.951c-18.974,0 -34.355,15.381 -34.355,34.355l120.242,0c-0.001,-23.717 -19.227,-42.944 -42.944,-42.944z"/>
                                            <path class="sunrise_cloud1" id="svg_8" fill="#FFFFFF" d="m340.024,173.154c11.272,0 21.446,4.436 29.108,11.54c4.239,-1.871 8.904,-2.951 13.836,-2.951c18.974,0 34.355,15.381 34.355,34.355l-120.242,0c0,-23.718 19.226,-42.944 42.943,-42.944z"/>
                                        </g>
                                        <path class="sunrise_water2" id="svg_9" fill="#ABFFDB" d="m383.913,312.29c28.122,0 55.217,-8.373 78.353,-23.36c-9.795,3.765 -20.112,7.327 -39.636,7.327c-41.435,0 -41.435,-16.032 -82.871,-16.032c-41.407,0 -41.407,16.032 -82.814,16.032c-41.42,0 -41.42,-16.032 -82.841,-16.032c-41.406,0 -41.406,16.032 -82.812,16.032c-19.44,0 -29.743,-3.538 -39.498,-7.289c23.123,14.963 50.197,23.321 78.295,23.321l70.799,0l56.109,16.032l48.102,-16.032l78.814,0l0,0.001z"/>
                                        <path id="svg_10" fill="#474D54" d="m505.5,240.661c-22.118,0 -33.315,4.332 -44.142,8.521c-9.982,3.862 -19.412,7.511 -38.729,7.511c-19.318,0 -28.747,-3.648 -38.73,-7.511c-10.827,-4.189 -22.023,-8.521 -44.142,-8.521c-22.105,0 -33.294,4.333 -44.115,8.522c-9.975,3.862 -19.397,7.51 -38.699,7.51c-19.31,0 -28.735,-3.648 -38.713,-7.51c-10.824,-4.19 -22.016,-8.522 -44.127,-8.522c-22.104,0 -33.293,4.333 -44.114,8.522c-9.975,3.862 -19.396,7.51 -38.698,7.51c-19.296,0 -28.715,-3.648 -38.687,-7.51c-10.818,-4.19 -22.004,-8.522 -44.104,-8.522c-4.142,0 -7.5,3.358 -7.5,7.5s3.358,7.5 7.5,7.5c19.296,0 28.714,3.648 38.687,7.51c10.818,4.19 22.004,8.522 44.104,8.522c22.104,0 33.293,-4.333 44.114,-8.522c9.975,-3.862 19.396,-7.51 38.698,-7.51c19.309,0 28.734,3.648 38.712,7.51c10.824,4.19 22.017,8.522 44.128,8.522c22.105,0 33.294,-4.333 44.115,-8.522c9.975,-3.862 19.397,-7.51 38.699,-7.51c19.317,0 28.747,3.648 38.729,7.511c10.828,4.189 22.024,8.521 44.143,8.521s33.314,-4.332 44.142,-8.521c9.982,-3.862 19.412,-7.511 38.729,-7.511c4.142,0 7.5,-3.358 7.5,-7.5s-3.358,-7.5 -7.5,-7.5z"/>
                                        <path class="line2" id="svg_11" fill="#48C397" d="m462.722,280.72l-1.367,0.528c-4.515,1.747 -8.78,3.397 -13.855,4.715c-4.009,1.042 -6.415,5.136 -5.374,9.145c0.877,3.377 3.92,5.616 7.254,5.616c0.624,0 1.259,-0.079 1.891,-0.243c5.912,-1.536 10.784,-3.421 15.497,-5.245l1.349,-0.521c3.865,-1.49 5.79,-5.831 4.301,-9.695c-1.49,-3.865 -5.833,-5.79 -9.696,-4.3z"/>
                                        <path class="sunrise_line1" id="svg_12" fill="#FFFFFF" d="m417.593,288.671c-16.001,-0.577 -24.595,-3.902 -33.694,-7.423c-10.828,-4.19 -22.024,-8.522 -44.142,-8.522c-22.105,0 -33.294,4.333 -44.115,8.522c-9.975,3.862 -19.397,7.51 -38.699,7.51c-19.31,0 -28.734,-3.648 -38.713,-7.511c-10.824,-4.189 -22.016,-8.522 -44.127,-8.522c-22.104,0 -33.293,4.333 -44.114,8.522c-9.077,3.515 -17.651,6.834 -33.587,7.419c-4.14,0.152 -7.372,3.631 -7.22,7.77c0.152,4.14 3.632,7.363 7.77,7.22c18.454,-0.677 28.622,-4.614 38.454,-8.421c9.975,-3.862 19.396,-7.51 38.698,-7.51c19.309,0 28.734,3.648 38.712,7.511c10.824,4.19 22.017,8.522 44.128,8.522c22.105,0 33.294,-4.332 44.115,-8.522c9.975,-3.862 19.397,-7.51 38.699,-7.51c19.317,0 28.747,3.648 38.729,7.511c9.855,3.813 20.045,7.756 38.566,8.424c4.113,0.147 7.616,-3.085 7.765,-7.225c0.149,-4.14 -3.086,-7.617 -7.225,-7.765z"/>
                                        <g id="svg_13">
                                            <path class="sunrise_line2" id="svg_14" fill="#48C397" d="m339.757,304.79c-22.105,0 -33.294,4.332 -44.115,8.522c-9.975,3.862 -19.397,7.51 -38.699,7.51c-19.31,0 -28.734,-3.648 -38.713,-7.51c-10.824,-4.19 -22.016,-8.522 -44.127,-8.522c-4.142,0 -7.5,3.358 -7.5,7.5s3.358,7.5 7.5,7.5c19.309,0 28.734,3.648 38.713,7.51c10.824,4.19 22.016,8.522 44.128,8.522c22.105,0 33.294,-4.333 44.115,-8.522c9.975,-3.862 19.397,-7.51 38.699,-7.51c4.142,0 7.5,-3.358 7.5,-7.5s-3.359,-7.5 -7.501,-7.5z"/>
                                            <path class="line2" id="svg_15" fill="#48C397" d="m66.511,285.981c-5.105,-1.323 -9.384,-2.981 -13.914,-4.736c-3.862,-1.496 -8.207,0.422 -9.703,4.284c-1.496,3.863 0.422,8.207 4.284,9.703c4.73,1.832 9.621,3.727 15.569,5.269c0.631,0.164 1.264,0.242 1.887,0.242c3.335,0 6.379,-2.242 7.255,-5.62c1.04,-4.01 -1.368,-8.102 -5.378,-9.142z"/>
                                        </g>
                                        <path class="sunrise_sunborder" id="svg_16" fill="#474D54" d="m137.575,216.625c0.279,3.952 3.572,6.972 7.474,6.972c0.178,0 0.357,-0.006 0.536,-0.019c4.132,-0.292 7.245,-3.878 6.953,-8.01c-0.175,-2.472 -0.263,-4.991 -0.263,-7.488c0,-57.746 46.98,-104.726 104.726,-104.726c34.231,0 66.372,16.789 85.975,44.911c2.369,3.397 7.043,4.232 10.442,1.864c3.398,-2.369 4.232,-7.044 1.864,-10.442c-22.407,-32.143 -59.147,-51.333 -98.281,-51.333c-66.017,0 -119.726,53.709 -119.726,119.726c-0.001,2.849 0.101,5.724 0.3,8.545z"/>
                                        <g id="svg_17">
                                            <path class="sunrise_ray1" id="svg_18" fill="#FF8031" d="m56.597,200.581c-4.142,0 -7.5,3.358 -7.5,7.5s3.358,7.5 7.5,7.5l48.097,0c4.142,0 7.5,-3.358 7.5,-7.5s-3.358,-7.5 -7.5,-7.5l-48.097,0z"/>
                                            <path class="sunrise_ray4" id="svg_19" fill="#FF8031" d="m257,63.274c4.142,0 7.5,-3.358 7.5,-7.5l0,-48.097c0,-4.142 -3.358,-7.5 -7.5,-7.5s-7.5,3.358 -7.5,7.5l0,48.097c0,4.143 3.358,7.5 7.5,7.5z"/>
                                            <path class="sunrise_ray567" id="svg_20" fill="#FF8031" d="m364.697,107.884c1.919,0 3.839,-0.732 5.303,-2.197l34.01,-34.01c2.929,-2.929 2.929,-7.678 0,-10.606c-2.929,-2.929 -7.678,-2.929 -10.607,0l-34.01,34.01c-2.929,2.929 -2.929,7.678 0,10.606c1.465,1.464 3.384,2.197 5.304,2.197z"/>
                                            <path class="sunrise_ray23" id="svg_21" fill="#FF8031" d="m191.786,70.238c1.196,2.888 3.989,4.632 6.932,4.632c0.956,0 1.929,-0.184 2.867,-0.573c3.827,-1.586 5.644,-5.973 4.059,-9.799l-6.135,-14.812c-1.585,-3.827 -5.972,-5.643 -9.799,-4.059c-3.827,1.585 -5.644,5.973 -4.059,9.799l6.135,14.812z"/>
                                            <path class="sunrise_ray567" id="svg_22" fill="#FF8031" d="m390.784,152.665c1.196,2.888 3.989,4.632 6.932,4.632c0.957,0 1.929,-0.184 2.867,-0.573l14.812,-6.135c3.827,-1.585 5.644,-5.973 4.059,-9.799c-1.585,-3.827 -5.972,-5.643 -9.799,-4.059l-14.812,6.135c-3.827,1.585 -5.644,5.973 -4.059,9.799z"/>
                                            <path class="sunrise_ray567" id="svg_23" fill="#FF8031" d="m312.415,74.297c0.938,0.389 1.911,0.573 2.867,0.573c2.943,0 5.736,-1.744 6.932,-4.632l6.135,-14.811c1.585,-3.827 -0.232,-8.214 -4.059,-9.799c-3.826,-1.585 -8.214,0.232 -9.799,4.059l-6.135,14.812c-1.585,3.825 0.232,8.212 4.059,9.798z"/>
                                            <path class="sunrise_ray23" id="svg_24" fill="#FF8031" d="m116.284,157.297c2.943,0 5.736,-1.744 6.932,-4.632c1.585,-3.827 -0.232,-8.214 -4.059,-9.799l-14.812,-6.135c-3.828,-1.586 -8.214,0.232 -9.799,4.059c-1.585,3.827 0.232,8.214 4.059,9.799l14.812,6.135c0.939,0.389 1.911,0.573 2.867,0.573z"/>
                                        </g>
                                        <g id="svg_25">
                                            <path class="sunrise_cloud1" id="svg_26" fill="#474D54" d="m40.564,106.218l120.242,0c4.142,0 7.5,-3.358 7.5,-7.5c0,-27.814 -22.629,-50.443 -50.444,-50.443c-11.078,0 -21.775,3.692 -30.589,10.481c-4.015,-1.257 -8.153,-1.893 -12.354,-1.893c-23.079,0 -41.855,18.776 -41.855,41.855c0,4.142 3.358,7.5 7.5,7.5zm34.355,-34.355c3.695,0 7.331,0.778 10.807,2.313c2.739,1.21 5.934,0.674 8.129,-1.362c6.634,-6.152 15.161,-9.54 24.008,-9.54c16.971,0 31.194,11.99 34.646,27.943l-103.379,0c3.253,-11.169 13.583,-19.354 25.789,-19.354z"/>
                                            <path class="sunrise_cloud2" id="svg_27" fill="#474D54" d="m382.968,174.242c-4.201,0 -8.339,0.635 -12.354,1.893c-8.815,-6.789 -19.512,-10.481 -30.589,-10.481c-27.815,0 -50.444,22.629 -50.444,50.443c0,4.142 3.358,7.5 7.5,7.5l120.242,0c4.142,0 7.5,-3.358 7.5,-7.5c0,-23.079 -18.776,-41.855 -41.855,-41.855zm-77.589,34.355c3.451,-15.953 17.675,-27.943 34.646,-27.943c8.847,0 17.373,3.388 24.008,9.54c2.196,2.035 5.389,2.569 8.128,1.361c3.476,-1.535 7.112,-2.313 10.807,-2.313c12.206,0 22.536,8.185 25.789,19.355l-103.378,0l0,0z"/>
                                        </g>
                                    </g>
                                </svg>
                            </div>
                            <div class="weather-item-moon">
                                <p class="m-0 humidity-title">Sunrise</p>
                                <p class="m-0 value sunrise">8:00</p>
                            </div>
                        </div>
                        <div class="col s6 p-2 weather-item weather-item-sunset">
                            <div style="display: grid;">
                                <svg class="svg_sunset" enable-background="new 0 0 512 337" width="512" viewBox="0 0 512 337" height="337" xmlns="http://www.w3.org/2000/svg">
                                    <g>
                                        <title>Layer 1</title>
                                        <circle class="suncolor1" id="svg_1" fill="#FFE17D" r="112.23" cy="209.08" cx="256"/>
                                        <path class="suncolor2" id="svg_2" fill="#FFCE86" d="m280.048,233.129c-56.186,0 -102.592,-41.334 -110.803,-95.226c-15.91,19.37 -25.471,44.154 -25.471,71.177c0,61.981 50.245,112.226 112.226,112.226s112.226,-50.245 112.226,-112.226c0,-5.795 -0.576,-11.442 -1.423,-17c-20.582,25.058 -51.797,41.049 -86.755,41.049z"/>
                                        <g id="svg_3">
                                        <path id="svg_4" fill="#E6BEDC" d="m338.757,249.161c-41.407,0 -41.407,16.032 -82.815,16.032c-41.42,0 -41.42,-16.032 -82.84,-16.032c-41.406,0 -41.406,16.032 -82.812,16.032c-41.395,0 -41.395,-16.032 -82.791,-16.032l12.998,14.855c27.399,31.313 66.981,49.274 108.59,49.274l253.825,0c41.608,0 81.191,-17.961 108.59,-49.274l12.998,-14.855c-41.435,0 -41.435,16.032 -82.871,16.032c-41.436,0.001 -41.436,-16.032 -82.872,-16.032z"/>
                                        <path class="water" id="svg_5" fill="#E6BEDC" d="m421.629,265.194c-41.435,0 -41.435,-16.032 -82.871,-16.032c-41.407,0 -41.407,16.032 -82.815,16.032c-41.42,0 -41.42,-16.032 -82.84,-16.032c-41.406,0 -41.406,16.032 -82.812,16.032c-41.395,0 -41.395,-16.032 -82.791,-16.032l41.38,40.075c10.354,4.01 20.703,8.022 41.41,8.022c41.406,0 41.406,-16.032 82.812,-16.032c41.42,0 41.42,16.032 82.84,16.032c41.408,0 41.408,-16.032 82.815,-16.032c41.436,0 41.436,16.032 82.871,16.032c20.716,0 31.074,-4.007 41.432,-8.015l41.439,-40.082c-41.434,-0.001 -41.434,16.032 -82.87,16.032z"/>
                                    </g>
                                    <g id="svg_6">
                                        <path class="cloudLeft" id="svg_7" fill="#FFF0BE" d="m116.863,56.774c-11.272,0 -21.446,4.436 -29.107,11.54c-4.239,-1.871 -8.904,-2.951 -13.836,-2.951c-18.974,0 -34.355,15.381 -34.355,34.355l120.241,0c0,-23.717 -19.226,-42.944 -42.943,-42.944z"/>
                                        <path class="cloudRight" id="svg_8" fill="#FFF0BE" d="m339.024,174.153c11.272,0 21.446,4.436 29.107,11.54c4.239,-1.871 8.904,-2.951 13.836,-2.951c18.974,0 34.355,15.381 34.355,34.355l-120.241,0c0,-23.717 19.226,-42.944 42.943,-42.944z"/>
                                    </g>
                                    <path class="water2" id="svg_9" fill="#C4DEFF" d="m382.913,313.29c28.122,0 55.218,-8.373 78.352,-23.359c-9.795,3.765 -20.112,7.327 -39.636,7.327c-41.435,0 -41.435,-16.032 -82.871,-16.032c-41.407,0 -41.407,16.032 -82.815,16.032c-41.42,0 -41.42,-16.032 -82.84,-16.032c-41.406,0 -41.406,16.032 -82.812,16.032c-19.44,0 -29.743,-3.538 -39.498,-7.289c23.123,14.963 50.197,23.321 78.295,23.321l70.799,0l56.109,16.032l48.102,-16.032l78.815,0l0,0z"/>
                                    <path id="svg_10" d="m504.5,241.661c-22.118,0 -33.314,4.332 -44.142,8.521c-9.982,3.862 -19.412,7.511 -38.729,7.511c-19.318,0 -28.747,-3.648 -38.73,-7.511c-10.827,-4.189 -22.023,-8.521 -44.142,-8.521c-22.105,0 -33.294,4.333 -44.115,8.522c-9.975,3.862 -19.397,7.51 -38.699,7.51c-19.31,0 -28.735,-3.648 -38.713,-7.51c-10.824,-4.19 -22.016,-8.522 -44.127,-8.522c-22.104,0 -33.293,4.333 -44.114,8.522c-9.975,3.862 -19.396,7.51 -38.698,7.51c-19.296,0 -28.715,-3.648 -38.687,-7.51c-10.818,-4.19 -22.004,-8.522 -44.104,-8.522c-4.142,0 -7.5,3.358 -7.5,7.5s3.358,7.5 7.5,7.5c19.296,0 28.714,3.648 38.687,7.51c10.818,4.19 22.004,8.522 44.104,8.522c22.104,0 33.293,-4.333 44.114,-8.522c9.975,-3.862 19.396,-7.51 38.698,-7.51c19.309,0 28.734,3.648 38.712,7.51c10.824,4.19 22.017,8.522 44.128,8.522c22.105,0 33.294,-4.333 44.115,-8.522c9.975,-3.862 19.397,-7.51 38.699,-7.51c19.317,0 28.747,3.648 38.729,7.511c10.828,4.189 22.024,8.521 44.143,8.521s33.314,-4.332 44.142,-8.521c9.982,-3.862 19.412,-7.511 38.729,-7.511c4.142,0 7.5,-3.358 7.5,-7.5s-3.358,-7.5 -7.5,-7.5z"/>
                                    <path class="line4" id="svg_11" d="m461.722,281.72l-1.367,0.528c-4.515,1.747 -8.78,3.397 -13.855,4.715c-4.009,1.042 -6.415,5.136 -5.374,9.145c0.877,3.377 3.92,5.616 7.254,5.616c0.625,0 1.259,-0.079 1.891,-0.243c5.912,-1.536 10.784,-3.421 15.497,-5.245l1.349,-0.521c3.865,-1.49 5.791,-5.831 4.301,-9.695c-1.49,-3.865 -5.833,-5.79 -9.696,-4.3z"/>
                                    <path class="line1" id="svg_12" d="m416.593,289.67c-16.001,-0.577 -24.595,-3.902 -33.694,-7.423c-10.828,-4.189 -22.024,-8.521 -44.142,-8.521c-22.105,0 -33.294,4.333 -44.115,8.522c-9.975,3.862 -19.397,7.51 -38.699,7.51c-19.31,0 -28.734,-3.648 -38.713,-7.511c-10.824,-4.189 -22.016,-8.522 -44.127,-8.522c-22.104,0 -33.293,4.333 -44.114,8.522c-9.077,3.515 -17.651,6.834 -33.587,7.419c-4.14,0.152 -7.372,3.631 -7.22,7.77c0.152,4.14 3.632,7.363 7.77,7.22c18.454,-0.677 28.622,-4.614 38.454,-8.421c9.975,-3.862 19.396,-7.51 38.698,-7.51c19.309,0 28.734,3.648 38.712,7.511c10.824,4.189 22.017,8.522 44.128,8.522c22.105,0 33.294,-4.333 44.115,-8.522c9.975,-3.862 19.397,-7.51 38.699,-7.51c19.317,0 28.747,3.648 38.729,7.511c9.855,3.813 20.045,7.756 38.566,8.424c4.113,0.147 7.616,-3.085 7.765,-7.225c0.149,-4.14 -3.086,-7.617 -7.225,-7.766z"/>
                                    <path class="line3" id="svg_13" d="m338.757,305.791c-22.105,0 -33.294,4.333 -44.115,8.522c-9.975,3.862 -19.397,7.51 -38.699,7.51c-19.31,0 -28.734,-3.648 -38.713,-7.51c-10.824,-4.19 -22.016,-8.522 -44.127,-8.522c-4.142,0 -7.5,3.358 -7.5,7.5s3.358,7.5 7.5,7.5c19.309,0 28.734,3.648 38.713,7.51c10.824,4.19 22.016,8.522 44.127,8.522c22.105,0 33.294,-4.333 44.115,-8.522c9.975,-3.862 19.397,-7.51 38.699,-7.51c4.142,0 7.5,-3.358 7.5,-7.5s-3.358,-7.5 -7.5,-7.5z"/>
                                    <path class="line2" id="svg_14" d="m65.511,286.981c-5.105,-1.323 -9.384,-2.981 -13.914,-4.736c-3.862,-1.496 -8.207,0.422 -9.703,4.284c-1.496,3.863 0.422,8.207 4.284,9.703c4.73,1.832 9.621,3.727 15.569,5.269c0.631,0.164 1.264,0.242 1.887,0.242c3.335,0 6.379,-2.242 7.255,-5.62c1.04,-4.01 -1.368,-8.102 -5.378,-9.142z"/>
                                    <path class="sunborder" id="svg_15" d="m136.575,217.625c0.279,3.952 3.572,6.972 7.474,6.972c0.178,0 0.356,-0.006 0.536,-0.019c4.132,-0.292 7.245,-3.878 6.953,-8.01c-0.175,-2.472 -0.263,-4.991 -0.263,-7.488c0,-57.746 46.979,-104.726 104.726,-104.726c34.231,0 66.372,16.789 85.975,44.911c2.369,3.397 7.043,4.231 10.442,1.864c3.398,-2.369 4.232,-7.044 1.864,-10.442c-22.407,-32.143 -59.147,-51.333 -98.281,-51.333c-66.017,0 -119.726,53.708 -119.726,119.726c-0.001,2.849 0.1,5.724 0.3,8.545z"/>
                                    <path class="ray1" id="svg_16" d="m55.597,201.581c-4.142,0 -7.5,3.358 -7.5,7.5s3.358,7.5 7.5,7.5l48.097,0c4.142,0 7.5,-3.358 7.5,-7.5s-3.358,-7.5 -7.5,-7.5l-48.097,0z"/>
                                    <path class="ray4" id="svg_17" d="m256,64.274c4.142,0 7.5,-3.358 7.5,-7.5l0,-48.097c0,-4.142 -3.358,-7.5 -7.5,-7.5s-7.5,3.358 -7.5,7.5l0,48.097c0,4.143 3.358,7.5 7.5,7.5z"/>
                                    <path class="ray6" id="svg_18" d="m363.697,108.884c1.919,0 3.839,-0.732 5.303,-2.197l34.01,-34.01c2.929,-2.929 2.929,-7.678 0,-10.606c-2.929,-2.929 -7.678,-2.929 -10.606,0l-34.01,34.01c-2.929,2.929 -2.929,7.678 0,10.606c1.464,1.464 3.383,2.197 5.303,2.197z"/>
                                    <path class="ray3" id="svg_19" d="m190.786,71.238c1.196,2.888 3.989,4.632 6.932,4.632c0.957,0 1.929,-0.184 2.867,-0.573c3.827,-1.585 5.644,-5.973 4.059,-9.799l-6.135,-14.812c-1.585,-3.827 -5.972,-5.643 -9.799,-4.059c-3.827,1.585 -5.644,5.973 -4.059,9.799l6.135,14.812z"/>
                                    <path class="ray7" id="svg_20" d="m389.784,153.666c1.196,2.888 3.989,4.632 6.932,4.632c0.957,0 1.929,-0.184 2.867,-0.573l14.812,-6.135c3.827,-1.585 5.644,-5.973 4.059,-9.799s-5.972,-5.644 -9.799,-4.059l-14.812,6.135c-3.827,1.584 -5.644,5.972 -4.059,9.799z"/>
                                    <path class="ray5" id="svg_21" d="m311.415,75.297c0.938,0.389 1.911,0.573 2.867,0.573c2.943,0 5.736,-1.744 6.932,-4.632l6.135,-14.812c1.585,-3.827 -0.232,-8.214 -4.059,-9.799c-3.826,-1.585 -8.214,0.232 -9.799,4.059l-6.135,14.812c-1.585,3.826 0.232,8.213 4.059,9.799z"/>
                                    <path class="ray2" id="svg_22" d="m115.284,158.297c2.943,0 5.736,-1.744 6.932,-4.632c1.585,-3.827 -0.232,-8.214 -4.059,-9.799l-14.812,-6.135c-3.828,-1.585 -8.214,0.232 -9.799,4.059c-1.585,3.827 0.232,8.214 4.059,9.799l14.812,6.135c0.939,0.389 1.911,0.573 2.867,0.573z"/>
                                    <path class="cloudborderleft" id="svg_23" d="m39.564,107.218l120.242,0c4.142,0 7.5,-3.358 7.5,-7.5c0,-27.814 -22.629,-50.443 -50.444,-50.443c-11.078,0 -21.775,3.692 -30.589,10.481c-4.015,-1.257 -8.153,-1.893 -12.354,-1.893c-23.079,0 -41.855,18.776 -41.855,41.855c0,4.142 3.358,7.5 7.5,7.5zm34.355,-34.355c3.695,0 7.331,0.778 10.807,2.313c2.739,1.209 5.934,0.674 8.129,-1.362c6.634,-6.152 15.161,-9.54 24.008,-9.54c16.971,0 31.194,11.99 34.646,27.943l-103.379,0c3.253,-11.169 13.583,-19.354 25.789,-19.354z"/>
                                    <path class="cloudborderRight" id="svg_24" d="m381.968,175.242c-4.201,0 -8.339,0.635 -12.354,1.893c-8.814,-6.789 -19.512,-10.481 -30.589,-10.481c-27.815,0 -50.444,22.629 -50.444,50.443c0,4.142 3.358,7.5 7.5,7.5l120.242,0c4.142,0 7.5,-3.358 7.5,-7.5c0,-23.079 -18.776,-41.855 -41.855,-41.855zm-77.589,34.355c3.451,-15.953 17.675,-27.943 34.646,-27.943c8.847,0 17.373,3.388 24.008,9.54c2.196,2.035 5.389,2.569 8.128,1.361c3.476,-1.535 7.112,-2.313 10.807,-2.313c12.206,0 22.536,8.185 25.79,19.355l-103.379,0l0,0z"/>
                                    <g id="svg_25"/>
                                    <g id="svg_26"/>
                                    <g id="svg_27"/>
                                    <g id="svg_28"/>
                                    <g id="svg_29"/>
                                    <g id="svg_30"/>
                                    <g id="svg_31"/>
                                    <g id="svg_32"/>
                                    <g id="svg_33"/>
                                    <g id="svg_34"/>
                                    <g id="svg_35"/>
                                    <g id="svg_36"/>
                                    <g id="svg_37"/>
                                    <g id="svg_38"/>
                                    <g id="svg_39"/>
                                    </g>
                                </svg>
                            </div>
                            <div class="weather-item-moon">
                                <p class="m-0 humidity-title">Sunset</p>
                                <p class="m-0 value sunset">18:10</p>
                            </div>
                        </div>
                    </div>

                    <div class="row m-0 pt-1">
                        <div class="col s6 p-2 weather-item">
                            <div class="">
                                <img src="/assets/night.svg" alt="moonrise" width="70px" height="50px">
                            </div>
                            <div class="weather-item-moon">
                                <p class="m-0 humidity-title">Moonrise</p>
                                <p class="m-0 value moonrise">09:34</p>
                            </div>
                        </div>
                        <div class="col s6 p-2 weather-item">
                            <div class="humidity-icon">
                                 <img src="/assets/moonset.svg" alt="moonset" width="70px" height="50px">
                            </div>
                            <div class="weather-item-moon">
                                <p class="m-0 humidity-title">Moonset</p>
                                <p class="m-0 value moonset">21:08</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row preloader">
            <div class="preloader-content" style="opacity: 1; ">
            <svg version="1.1" id="sun" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="10px" height="10px" viewBox="0 0 10 10" enable-background="new 0 0 10 10" xml:space="preserve" style="opacity: 1; margin-left: 0px; margin-top: 0px;">
                <g>
                <path fill="none" d="M6.942,3.876c-0.4-0.692-1.146-1.123-1.946-1.123c-0.392,0-0.779,0.104-1.121,0.301c-1.072,0.619-1.44,1.994-0.821,3.067C3.454,6.815,4.2,7.245,5,7.245c0.392,0,0.779-0.104,1.121-0.301C6.64,6.644,7.013,6.159,7.167,5.581C7.321,5,7.243,4.396,6.942,3.876z M6.88,5.505C6.745,6.007,6.423,6.427,5.973,6.688C5.676,6.858,5.34,6.948,5,6.948c-0.695,0-1.343-0.373-1.69-0.975C2.774,5.043,3.093,3.849,4.024,3.312C4.32,3.14,4.656,3.05,4.996,3.05c0.695,0,1.342,0.374,1.69,0.975C6.946,4.476,7.015,5,6.88,5.505z"></path>
                <path fill="none" d="M8.759,2.828C8.718,2.757,8.626,2.732,8.556,2.774L7.345,3.473c-0.07,0.041-0.094,0.132-0.053,0.202C7.319,3.723,7.368,3.75,7.419,3.75c0.025,0,0.053-0.007,0.074-0.02l1.211-0.699C8.774,2.989,8.8,2.899,8.759,2.828z"></path>
                <path fill="none" d="M1.238,7.171c0.027,0.047,0.077,0.074,0.128,0.074c0.025,0,0.051-0.008,0.074-0.02l1.211-0.699c0.071-0.041,0.095-0.133,0.054-0.203S2.574,6.228,2.503,6.269l-1.21,0.699C1.221,7.009,1.197,7.101,1.238,7.171z"></path>
                <path fill="none" d="M6.396,2.726c0.052,0,0.102-0.026,0.13-0.075l0.349-0.605C6.915,1.976,6.89,1.885,6.819,1.844c-0.07-0.042-0.162-0.017-0.202,0.054L6.269,2.503C6.228,2.574,6.251,2.666,6.322,2.706C6.346,2.719,6.371,2.726,6.396,2.726z"></path>
                    <path fill="none" d="M3.472,7.347L3.123,7.952c-0.041,0.07-0.017,0.162,0.054,0.203C3.2,8.169,3.226,8.175,3.25,8.175c0.052,0,0.102-0.027,0.129-0.074l0.349-0.605c0.041-0.07,0.017-0.16-0.054-0.203C3.603,7.251,3.513,7.276,3.472,7.347z"></path>
                    <path fill="none" d="M3.601,2.726c0.025,0,0.051-0.007,0.074-0.02C3.746,2.666,3.77,2.574,3.729,2.503l-0.35-0.604C3.338,1.828,3.248,1.804,3.177,1.844C3.106,1.886,3.082,1.976,3.123,2.047l0.35,0.604C3.5,2.7,3.549,2.726,3.601,2.726z"></path>
                    <path fill="none" d="M6.321,7.292c-0.07,0.043-0.094,0.133-0.054,0.203l0.351,0.605c0.026,0.047,0.076,0.074,0.127,0.074c0.025,0,0.051-0.006,0.074-0.02c0.072-0.041,0.096-0.133,0.055-0.203l-0.35-0.605C6.483,7.276,6.393,7.253,6.321,7.292z"></path>
                    <path fill="none" d="M2.202,5.146c0.082,0,0.149-0.065,0.149-0.147S2.284,4.851,2.202,4.851H1.503c-0.082,0-0.148,0.066-0.148,0.148s0.066,0.147,0.148,0.147H2.202z"></path>
                    <path fill="none" d="M8.493,4.851H7.794c-0.082,0-0.148,0.066-0.148,0.148s0.066,0.147,0.148,0.147l0,0h0.699c0.082,0,0.148-0.065,0.148-0.147S8.575,4.851,8.493,4.851L8.493,4.851z"></path>
                    <path fill="none" d="M5.146,2.203V0.805c0-0.082-0.066-0.148-0.148-0.148c-0.082,0-0.148,0.066-0.148,0.148v1.398c0,0.082,0.066,0.149,0.148,0.149C5.08,2.352,5.146,2.285,5.146,2.203z"></path>
                    <path fill="none" d="M4.85,7.796v1.396c0,0.082,0.066,0.15,0.148,0.15c0.082,0,0.148-0.068,0.148-0.15V7.796c0-0.082-0.066-0.148-0.148-0.148C4.917,7.647,4.85,7.714,4.85,7.796z"></path>
                    <path fill="none" d="M2.651,3.473L1.44,2.774C1.369,2.732,1.279,2.757,1.238,2.828C1.197,2.899,1.221,2.989,1.292,3.031l1.21,0.699c0.023,0.013,0.049,0.02,0.074,0.02c0.051,0,0.101-0.026,0.129-0.075C2.747,3.604,2.722,3.514,2.651,3.473z"></path>
                    <path fill="none" d="M8.704,6.968L7.493,6.269c-0.07-0.041-0.162-0.016-0.201,0.055c-0.041,0.07-0.018,0.162,0.053,0.203l1.211,0.699c0.023,0.012,0.049,0.02,0.074,0.02c0.051,0,0.102-0.027,0.129-0.074C8.8,7.101,8.776,7.009,8.704,6.968z"></path>
                </g>
            </svg>

            <svg version="1.1" id="cloud" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="10px" height="10px" viewBox="0 0 10 10" enable-background="new 0 0 10 10" xml:space="preserve">
                <path class="preloader_path" fill="none" d="M8.528,5.624H8.247c-0.085,0-0.156-0.068-0.156-0.154c0-0.694-0.563-1.257-1.257-1.257c-0.098,0-0.197,0.013-0.3,0.038C6.493,4.259,6.45,4.252,6.415,4.229C6.38,4.208,6.356,4.172,6.348,4.131C6.117,3.032,5.135,2.235,4.01,2.235c-1.252,0-2.297,0.979-2.379,2.23c-0.004,0.056-0.039,0.108-0.093,0.13C1.076,4.793,0.776,5.249,0.776,5.752c0,0.693,0.564,1.257,1.257,1.257h6.495c0.383,0,0.695-0.31,0.695-0.692S8.911,5.624,8.528,5.624z"></path>
            </svg>

            <div class="rain">
                <span class="drop"></span>
                <span class="drop"></span>
                <span class="drop"></span>
                <span class="drop"></span>
                <span class="drop"></span>
                <span class="drop"></span>
                <span class="drop"></span>
                <span class="drop"></span>
                <span class="drop"></span>
                <span class="drop"></span>
            </div>
            
            <div class="text">
                SEARCHING WEATHER... ONE SEC
            </div>
            </div>
        </div>
    </div>

    {{>footer}}
    
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="/js/materialize.min.js"></script>
    <script src='https://api.mapbox.com/mapbox-gl-js/v2.1.1/mapbox-gl.js'></script>
    <script src="/js/app.js"></script>
</body>
</html>