body
{
    font-family: Arial, Helvetica, sans-serif;
}
.defaultClass
{
    display : block; 
    background : #84ba64; 
    width : 100%; 
    color:white;
    font-weight:bold;
    align-items: center;
    padding: 0px 10px;
}
a:hover
{
    text-decoration: none;
}
.app-title
{
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 50px;
}
.sidenav
{
    display: flex;
    flex-direction: column;
}
.sidenav-trigger
{
    display: grid;
    margin: auto;
}
.sidenav-title
{
    display: grid;
    grid-auto-flow: column;
}
.sidenav-close
{
    text-align: right;
    align-items: center;
    display: grid;
}
.social-link
{
    display: grid;
    grid-auto-flow: column;
    justify-content: space-evenly;
}

@font-face {
  font-family: BeautifulPeople;
  src: url('/assets/font/FriendlyFont.woff');
}

.social-title {
  font-family: BeautifulPeople;
  display: block;
  text-align: center;
  border-bottom: 1px solid #e0e0e0;
  line-height: 1px!important;
  margin: 0 90px;
  padding: 20px 0;
}

.input-location
{
    /* display: block; */
    width: 50%;
    /* margin: 0 auto; */
}

.location-card
{
    display: none;
    padding-top: .75rem!important;
    padding-bottom: 1rem!important;
}

.seperator
{
    height: 2px;
    background-color: #70757a;
    margin: 15px 0;
    background-color: #dbdee0;
}
.up-arrow
{
    display: flex;
    align-items: center;
}
.up-icon
{
    position: absolute;
    left: 8px;
}

#title
{
    font-weight: bold;
}
#forecast
{
    color : #67748e;
}

.temperature
{
    font-size: 65px;
    float: left;
    line-height: 1;
    border-right: 5px solid;
}
.otherInfo
{
    float: left;
    color: #70757a;
}
.rise
{
    width: 30px;
    float: left;
}
.humidity-info
{
    float: left;
    line-height: 1;
    padding : 15px 0 0 10px;
}
.moon-info
{
    float: left;
    line-height: 1;
    padding : 3px 0 0 0px;
}
.humidity-title
{
    font-size: .8125rem;
    /* padding-bottom: 7px; */
}
.value
{
    font-weight: bold;
    font-size: 1.5rem;
    line-height: 1;
}
.weather-item
{
    display: grid;
    grid-auto-flow:column;
    grid-template-columns: 90px;
}
.weather-item:hover
{
    background-color: #c6c7ca;
    cursor: pointer;
}
.weather-item-info
{
    padding: 15px 0px;
}
.weather-item-moon
{
    padding: 3px 0;
}


@import "compass/css3";

body {
  background: #efefef;
}

.preloader {
    display: none;
	position: absolute;
	margin-left: -55px;
	margin-top: -100px;
	height: 110px;
	width: 110px;
	left: 50%;
	top: 50%;
}

svg {
  width: 110px;
  height: 110px;
}

path {
  stroke: #9ea1a4;
  stroke-width: 0.25;
  fill: #241E20;
}

#cloud {
  position: relative;
  z-index: 2;
}

#cloud path {
  fill: #efefef;
}

#sun {
  margin-left: -10px;
  margin-top: 6px;
  opacity: 0;
  width: 60px;
  height: 60px;
  position: absolute;
  left: 45px;
  top: 15px;
  z-index: 1;
  
  animation-name: rotate;
  animation-duration: 16000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

#sun path {
  stroke-width: 0.18;
  fill: #9ea1a4;
}


@keyframes rotate {
  0% {
    transform: rotateZ(0deg);
  }

  100% {
    transform: rotateZ(360deg);
  }
}

/* Rain */
.rain {
  position: absolute;
  width: 70px;
  height: 70px;
  margin-top: -32px;
  margin-left: 19px;
}

.drop {
  opacity: 1;
  background: #9ea1a4;
  display: block;
  float: left;
  width: 3px;
  height: 10px;
  margin-left: 4px;
  border-radius: 0px 0px 6px 6px;
  
  animation-name: drop;
  animation-duration: 350ms;
  animation-iteration-count: infinite;
}

.drop:nth-child(1) {
  animation-delay: -130ms;
}

.drop:nth-child(2) {
  animation-delay: -240ms;
}

.drop:nth-child(3) {
  animation-delay: -390ms;
}

.drop:nth-child(4) {
  animation-delay: -525ms;
}

.drop:nth-child(5) {
  animation-delay: -640ms;
}

.drop:nth-child(6) {
  animation-delay: -790ms;
}

.drop:nth-child(7) {
  animation-delay: -900ms;
}

.drop:nth-child(8) {
  animation-delay: -1050ms;
}

.drop:nth-child(9) {
  animation-delay: -1130ms;
}

.drop:nth-child(10) {
  animation-delay: -1300ms;
}


@keyframes drop {
  50% {
    height: 45px;
    opacity: 0;
  }

  51% {
    opacity: 0;
  }

  100% {
    height: 1px;
    opacity: 0;
  }
}

.text {
	font-family: Helvetica, 'Helvetica Neue', sans-serif;
	letter-spacing: 1px;
	text-align: center;
	margin-left: -43px;
	font-weight: bold;
	margin-top: 20px;
	font-size: 11px;
	color: #a0a0a0;
	width: 200px;
}

.mapboxgl-ctrl-bottom-left,.mapboxgl-ctrl-bottom-right
{
    display: none;
}

.mapboxgl-marker svg
{
    width: 27px;
    height: 41px;
}